<div class="card">
  <div class="card-header">
    <h3 class="text-center m-3">Availabe Shoe Types</h3>

      <div class="row mb-2">
        <div class="col-md-2">Search By</div>
        <div class="col-md-6">
          <input type="text" [(ngModel)] = "listFilter" class="form-control" >
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-2">
          <h5>Searched By</h5>
        </div>
        <div class="col-md-6">
            {{listFilter}}
        </div>
      </div>
  </div>
  <div class="card-body">

    <table class="table-responsive">
      <thead>
        <tr >
          <th>
            <button class="btn btn-outline-light" (click)="toggleImage()">{{showImage ? "Hide " : "Show "}}Image</button>
          </th>
          <th>Name</th>
          <th>Code</th>
          <th>Price</th>
          <th>Release Date</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody  *ngIf = "shoes && shoes.length">
        <tr *ngFor = "let shoe of filteredList">
          <td>
            <img [src]="shoe.imageUrl" *ngIf="showImage" [style.width.px]="imageWidth" [style.margin.px]="imageMargin" [style.height.px]="imageHeight">
          </td>
          <td>{{shoe.name}}</td>
          <td>{{shoe.code | uppercase | converToSpace:"-"}}</td>
          <td>{{shoe.price | currency}}</td>
          <td>{{shoe.release_date | date}}</td>
          <td>{{shoe.rating}}</td>
        </tr>

      </tbody>
    </table>

  </div>

</div>
