.card{
  background-color: #2e4053;

}

tr>th, tr>td{
  padding-left:90px;
  text-align: center;
  padding-bottom: 10px;
}

thead{
  border-bottom: 2px solid white;
  margin-bottom: 10px !important;
}

tr>td{
  border-bottom: 2px solid white;
  margin-top:4px !important;
}
td>a{
  color: rgb(240, 158, 6) !important;
}

