<div class="image" id="first">
    <h4>SHOE OFFERS!!!</h4>
<div id="button">
  <button class="btn btn-outline-light">50% Off Offer</button>

</div>
</div>
<p class="light">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem tempora nobis praesentium optio, facilis, iusto voluptatem explicabo quisquam odit tempore dolorum commodi soluta nesciunt, corrupti corporis voluptates suscipit autem. Sequi non nemo distinctio a quibusdam voluptatibus laborum neque velit rem optio! Obcaecati totam enim numquam fuga magnam, atque doloribus nulla!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsum adipisci veniam alias, incidunt commodi dignissimos, minus sapiente nostrum ex ducimus eaque dolor voluptatem assumenda itaque? Aut in doloribus quo ratione deserunt ipsam vel molestiae corporis ullam iure consequatur debitis esse velit, corrupti odio perspiciatis nesciunt tempore voluptates dicta inventore?
</p>
<div class="image" id="second">
    <h4>GET YOURS TODAY</h4>
</div>
<p class="dark">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque dolorum voluptatem dicta quae magni. Dolor numquam culpa necessitatibus minima aliquam quia tempore. Animi consequuntur dicta odit aspernatur atque tempore libero. Veritatis autem ipsum sint delectus porro repellendus, tempore consequuntur unde excepturi optio rem aliquam consectetur accusantium laborum neque, repellat dicta et? Fuga provident sapiente aperiam alias hic modi quidem blanditiis ipsa voluptatem quaerat obcaecati laboriosam vitae soluta officiis, totam unde tempora magnam, deserunt ducimus exercitationem? Eveniet itaque ab quisquam reiciendis?

</p>
<div class="image" id="third">

</div>
